@font-face {
	font-family: ChunkfiveRegular;
	src: url('Chunkfive.otf');
}

header, footer { display: block; }

 .ui-li-icon {
   top:  9px;
}
 
h1,
h2,
h3,
dt,
.btn,
.menu a, 
.menu span
{
    font-family: 'ChunkFiveRegular', serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    margin: 0;
    padding: 0;
}	

h4,
h5,
h6
{
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    margin: 0;
    padding: 0;
}	

.ui-li-heading { font-size: 12px; }

.tutorial_image object, .tutorial_image embed { max-width: 250px; }

#mypanel {background: rgba(255, 255, 255, 0.9);}
.paneldiv {background: rgba(255, 255, 255, 1);
 word-wrap:break-word;}